body{
    margin: 0;
    padding: 0; 
    height: 100vh;
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 60%;
    height: 90%;
    border-radius: 20px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(29, 156, 240);
    /* background-color: aqua; */

}
.icon-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22px;

}
.img{
    color: rgb(29, 155, 240);
    width: 70px;
    
}
.words{
    font-size: 26px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2px;
}

.edit-inp{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 40px;    */
}
.email{
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 1px solid rgba(29, 156, 240);
    width: 250px;
    padding-top: 20px;
    outline: none;
    
}
.email:focus{
    background-color: rgb(196, 231, 255);
    border-bottom: 2px solid rgb(29, 155, 240);
    transition: 0.1s;
    
}


.log-butt{
    background-color: rgba(29, 156, 240, 0.5);
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 9999px;
    color: white;
    font-weight: 900;
    margin-top: 40px;
    font-size: 17px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.log-butt:hover{
    background-color:rgba(29, 156, 240) ;
}
.error{
    width: 210px;
    padding:10px;
    display: inline-block;
    outline: none;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width: 600px) {

    .email{
        width: 80%;
    }

    .log-butt{
        width: 50%;
        margin-bottom: 10px;
    }
    .words{
        font-size: 15px;
    }
    
    .error{
        width: 80%;
        margin: auto;
        display: inline-block;
        font-size: 12px;


    }


}


